<script type="text/x-template" id="scoresheet-template">
    <div id="scoresheet">
        <table class="tabular">
            <tr>
                <td rowspan="2" class="vertical_text shaded">
                    <div>
                        <a href="#" title="Rearrange Quizzer Listing Order"
                            v-on:click="toggle_rearrange_quizzers">Rearrange / SK Type</a>
                    </div>
                </td>
                <td
                    v-for="( team_set, index ) in metadata.quiz_teams_quizzers"
                    v-bind:colspan="team_set.quizzers.length + 1"
                    v-bind:class="[
                        ( team_set.team.name == active_team.name ) ? 'selected' : '',
                        'team_' + index + '_bold'
                    ]"
                >
                    {{ team_set.team.name }}: {{ team_set.team.score }}
                </td>
            </tr>

            <tr id="quizzer_names">
                <template v-for="( team_set, index ) in metadata.quiz_teams_quizzers">
                    <td
                        class="vertical_text quizzer_name"
                        v-for="quizzer in team_set.quizzers"
                        v-on:click="select_quizzer( team_set.team, quizzer )"
                        v-bind:class="[
                            ( quizzer.name == active_quizzer.name ) ? 'selected' : '',
                            'team_' + index + '_mild'
                        ]"
                    >
                        <table class="tabular clear" v-bind:title="quizzer.name">
                            <tr><td>{{ quizzer.bib }}</td></tr>
                            <tr><td class="quizzer_name"><div>{{ quizzer.name }}</div></td></tr>
                            <tr><td>{{ quizzer.correct }}-{{ quizzer.incorrect }}</td></tr>
                        </table>
                    </td>
                    <td v-bind:class="[ 'vertical_text', 'team_' + index + '_bold' ]"><div>
                        <a href="#" title="Issue Timeout"
                            v-on:click="quiz_event( 'timeout', team_set.team )">T/O</a>

                        <a href="#" title="Record Challenge"
                            v-on:click="quiz_event( 'challenge', team_set.team )">Chal.</a>

                        <a href="#" title="Remove Readiness Bonus"
                            v-on:click="quiz_event( 'readiness', team_set.team )">-R</a>

                        <a href="#" title="Add Unsportsmanlike Penalty"
                            v-on:click="quiz_event( 'unsportsmanlike', team_set.team )">-U</a>
                    </div></td>
                </template>
            </tr>

            <tr v-for="( event, index ) in quiz_questions">
                <td class="shaded">
                    <template v-if="index == 0">
                        <a href="#"
                            title="Delete Quiz Event"
                            v-on:click="delete_quiz_event( event.question_number )"
                        >
                            {{
                                ( event.question_number.toString().indexOf("|") == -1 )
                                    ? event.question_number
                                    : event.question_number.toString().split("|")[1]
                            }}
                        </a>
                    </template>
                    <template v-else>
                        {{
                            ( event.question_number.toString().indexOf("|") == -1 )
                                ? event.question_number
                                : event.question_number.toString().split("|")[1]
                        }}
                    </template>
                </td>
                <template v-for="( team_set, index ) in metadata.quiz_teams_quizzers">
                    <td v-for="quizzer in team_set.quizzers" v-bind:class=" 'team_' + index + '_mild' ">
                        {{
                            (
                                !! quizzer.events &&
                                !! event.question_number &&
                                quizzer.events[ event.question_number ] !== null
                            ) ? quizzer.events[ event.question_number ] : ""
                        }}
                    </td>
                    <td v-bind:class=" 'team_' + index + '_bold' ">{{
                        (
                            !! team_set.team.events &&
                            !! event.question_number &&
                            team_set.team.events[ event.question_number ] !== null
                        ) ? team_set.team.events[ event.question_number ] : ""
                    }}</td>
                </template>
            </tr>
        </table>
    </div>
</script>

<script type="text/javascript">
    Vue.component( 'scoresheet', {
        template: '#scoresheet-template',
        data: function () {
            return {
                something : null
            };
        },
        props: {
            nothing: {
                type: Object,
                default: function () {
                    return {};
                }
            }
        }
    } );
</script>
