body {
    font-family: sans-serif;
    background-color: aliceblue;
    margin: 20px;
    padding: 0px;
}

div#header {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}

div.textarea[contenteditable="true"] {
    border: 1px solid lightgray;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    width: 500px;
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
}

div.textarea[contenteditable="true"]:hover {
    border-color: gray;
}

span.unique_word {
    font-weight: bold;
    color: blue;
}

span.unique_phrase {
    font-weight: bold;
    color: green;
}

span.unique_chapter {
    font-weight: bold;
    color: red;
}
