body {
    font-family: sans-serif;
    background-color: aliceblue;
    margin: 20px;
    padding: 0px;
}

div#header {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}

.htmlarea {
    display: block;
    border: 1px solid lightgray;
    background-color: white;
    padding: 10px;
}

.htmlarea:hover {
    border-color: gray;
}

.htmlarea[contenteditable="true"] {
    width: 500px;
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
}

.unique_word {
    font-weight: bold;
    color: blue;
}

.unique_phrase {
    font-weight: bold;
    color: green;
}

.unique_chapter {
    font-weight: bold;
    color: red;
}

.material_para_markers,
.material_key_markers {
    color: gray;
}

div#material_lookup_display,
div#material_search_display {
    border: 1px solid lightgray;
    background-color: white;
    width: 500px;
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

[v-cloak] {
    display: none;
}

.clickable_reference:hover {
    text-decoration: underline;
    cursor: pointer;
}
