@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Droid_Serif/DroidSerif-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Droid_Serif/DroidSerif-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

body, input, button, select {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}

.htmlarea {
    font-family: 'Droid Serif', serif;
}

/* -------------------------------------------------------------------------- */

html {
    background-color: ghostwhite;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 10px;
    padding: 0px;
    margin-top: 65px;
}

/* -------------------------------------------------------------------------- */

div#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    padding: 10px;
    background-color: lightgray;
    border-bottom: 1px solid gray;
}

div#header h1 {
    margin: 0px;
}

div#header div#header_login {
    position: absolute;
    top: 10px;
    right: 35px;
}

div#header div#header_login form {
    margin-top: 5px;
}

div#header a.selected {
    font-weight: bold;
}

div#content div#message {
    border: 1px solid black;
    padding: 5px;
}

div#content div#message.error {
    border-color: red;
    color: red;
    background-color: white;
}

div#content div#message.success {
    border-color: green;
    color: green;
    background-color: white;
}

div#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: right;
    width: 100%;
    background-color: lightgray;
    border-top: 1px solid gray;
}

div#footer p {
    margin: 1px 3px 1px 3px;
    padding: 0px;
    display: inline-block;
}

/* -------------------------------------------------------------------------- */

form fieldset {
    border: 1px solid gray;
    display: inline-block;
}

form fieldset legend {
    border: 1px solid gray;
    background-color: whitesmoke;
}

form fieldset label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-bottom: 3px;
}

/* -------------------------------------------------------------------------- */

[v-cloak] {
    display: none;
}

/* -------------------------------------------------------------------------- */

.htmlarea {
    display: block;
    border: 1px solid lightgray;
    background-color: white;
    padding: 5px;
}

.htmlarea[contenteditable="true"] {
    overflow: auto;
    overflow-x: hidden;
}

.htmlarea[contenteditable="true"]:hover {
    border-color: gray;
}

.question {
    width: 400px;
    height: 150px;
}

.unique_word {
    font-weight: bold;
    color: blue;
}

.unique_phrase {
    font-weight: bold;
    color: green;
}

.unique_chapter {
    font-weight: bold;
    color: red;
}

.material_para_markers,
.material_key_markers {
    color: gray;
}

span.field {
    border: 1px solid lightgray;
    background-color: white;
    padding: 1px 4px 1px 4px;
    display: inline-block;
}

/* -------------------------------------------------------------------------- */

div#material_lookup_display,
div#material_search_display {
    border: 1px solid lightgray;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
}

div#material_lookup_display {
    width: 450px;
    height: 400px;
}

div#material_search_display {
    width: 1025px;
    height: 250px;
}

.clickable_reference:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */

div#editor div#question_form {
    display: inline-block;
    vertical-align: top;
}

div#editor div#questions_list {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
}

div#editor div#material_lookup {
    display: inline-block;
    vertical-align: top;
}

div#editor div#material_search {
    display: block;
    vertical-align: top;
}

/* -------------------------------------------------------------------------- */

div#quizroom div#question {
    display: inline-block;
    vertical-align: top;
}

div#quizroom div#manage {
    display: inline-block;
    vertical-align: top;
}

div#quizroom div#material_lookup {
    display: inline-block;
    vertical-align: top;
}

div#quizroom div#material_search {
    display: block;
    vertical-align: top;
}

div#quizroom div#manage {
    width: 130px;
}

div#quizroom div#manage > div {
    margin-bottom: 10px;
}

div#quizroom div#timer div.timer_display {
    border: 1px solid lightgray;
    background-color: white;
    padding: 1px 10px 1px 10px;
    font-size: 40pt;
    float: left;
}
