@font-face {
    font-family: normal;
    src: url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: medium;
    src: url(fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: bold;
    src: url(fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

h1, h2, h3, b {
    font-family: bold;
    font-weight: normal;
}

body, input, button, select {
    font-family: normal, sans-serif;
    font-size: 13px;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

dl dt {
    font-family: bold;
    font-weight: normal;
}

.htmlarea {
    font-size: 14px;
    line-height: 18px;
}

.clear {
    font-family: normal;
    color: black;
}

.unique_word {
    font-family: medium;
    color: blue;
}

.unique_phrase {
    font-family: medium;
    color: green;
}

.unique_chapter {
    font-family: medium;
    color: red;
}

.cursor_progress,
.cursor_progress *,
.cursor_progress a:hover {
    cursor: progress;
}

/* -------------------------------------------------------------------------- */

html {
    background-color: ghostwhite;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 10px;
    padding: 0px;
    margin-top: 65px;
    margin-bottom: 30px;
}

/* -------------------------------------------------------------------------- */

table.tabular,
table.tabular th,
table.tabular td {
    border: 1px solid silver;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.background {
    background-color: darkgray;
}

table.tabular th {
    background-color: lightgray;
    color: black;
    padding: 2px 5px 2px 5px;
    font-size: 13px;
    text-align: left;
    font-family: bold;
    font-weight: normal;
}

table.tabular td {
    background-color: white;
    color: black;
    padding: 1px 3px 1px 3px;
}

tr.selected td,
td.selected {
    background-color: #ccffcc !important;
}

tr.selected_extra td,
td.selected_extra {
    background-color: #ffeeaa !important;
}

table.numeric td {
    text-align: right;
}

table th.left,
table td.left {
    text-align: left;
}

table th.center,
table td.center {
    text-align: center;
}

table th.right,
table td.right {
    text-align: right;
}

table.clear td {
    background-color: transparent;
}

table.overflow_active td.overflow_toggle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc( ( 100vw - 500px ) / 3 );
}

/* -------------------------------------------------------------------------- */

div#pagination {
    margin-bottom: 12px;
}

div#pagination a {
    text-decoration: none;
    margin-left: 3px;
}

div#pagination a:hover {
    text-decoration: underline;
}

div#pagination a.this_page:before {
    content: "[";
    font-family: bold;
    font-weight: normal;
}

div#pagination a.this_page:after {
    content: "]";
    font-family: bold;
    font-weight: normal;
}

/* -------------------------------------------------------------------------- */

div#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    padding: 10px;
    background-color: lightgray;
    border-bottom: 1px solid gray;
    z-index: 10;
    min-width: 400px;
}

div#header h1 {
    margin: 0px;
}

div#header h1#alt_title {
    display: none;
}

div#header div#header_login {
    position: absolute;
    top: 10px;
    right: 35px;
}

div#header div#header_login form {
    margin-top: 5px;
}

div#header a.selected,
div.sub_menu a.selected {
    font-family: bold;
}

div.sub_menu {
    float: right;
    margin-top: -10px;
}

@media ( max-width: 655px ) {
    div#header h1 {
        font-size: 13px;
    }
}

@media ( max-width: 470px ) {
    div#header h1#title {
        display: none;
    }
    div#header h1#alt_title {
        display: block;
    }
}

div#content div#message {
    position: absolute;
    top: 60px;
    width: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding: 5px;
    background-color: white;
    font-family: bold;
    z-index: 100;
    padding-right: 20px;
}

div#content div#message a {
    color: inherit;
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    padding: 0px 2px 0px 2px;
    border: 2px solid;
    margin: -2px -2px 0px 0px;
}

div#content div#message.error {
    border-color: red;
    color: red;
}

div#content div#message.success {
    border-color: green;
    color: green;
}

div#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: lightgray;
    border-top: 1px solid gray;
}

div#footer p {
    margin: 1px 3px 1px 3px;
    padding: 0px;
    display: inline-block;
    z-index: 20;
}

div#footer p.left {
    float: left;
}

div#footer p.right {
    float: right;
}

@media ( max-width: 650px ) {
    div#footer p.right {
        display: none;
    }
}

/* -------------------------------------------------------------------------- */

form fieldset {
    border: 1px solid silver;
    display: inline-block;
}

form fieldset legend {
    border: 1px solid silver;
    background-color: white;
}

form fieldset label {
    display: block;
}

input[type="text"],
input[type="password"] {
    padding-left: 3px;
}

select,
textarea,
input[type="text"],
input[type="password"] {
    border: 1px solid lightgray;
}

select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover {
    border-color: gray;
}

button,
input[type="submit"],
input[type="reset"] {
    border: 1px solid #999999;
    background-color: #e0e0e0;
    padding: 1px 10px 1px 10px;
    margin: 3px 0px 0px 0px;
}

button:hover:enabled,
input[type="submit"]:hover:enabled ,
input[type="reset"]:hover:enabled {
    border: 1px solid blue;
    background-color: #eeeeee;
}

button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled {
    background-color: lightgray;
}

select[size] option {
    margin: 0px;
    padding: 0px 0px 0px 2px;
}

/* -------------------------------------------------------------------------- */

div#header_login {
    text-align: right;
}

div#header_login input[type="text"],
div#header_login input[type="password"] {
    border: 1px solid #999999;
}

div#header_login input[type="text"]:hover,
div#header_login input[type="password"]:hover {
    border: 1px solid blue;
}

/* -------------------------------------------------------------------------- */

[v-cloak] {
    display: none;
}

.loading_spinner {
    display: block;
    content: " ";
    width: 16px;
    height: 16px;
    background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
}

.hidden {
    display: none !important;
}

/* -------------------------------------------------------------------------- */

div.two_column {
    display: inline-block;
    width: calc( 50vw - 20px );
    vertical-align: top;
}

@media ( max-width: 740px ) {
    div.two_column {
        display: inherit;
        width: inherit;
        vertical-align: inherit;
    }
}

/* -------------------------------------------------------------------------- */

.htmlarea {
    display: block;
    background-color: white;
    padding: 1px 2px 1px 2px;
    border: 1px solid lightgray;
}

.htmlarea[contenteditable="true"] {
    overflow: auto;
    overflow-x: hidden;
}

.htmlarea[contenteditable="true"]:hover {
    border-color: gray;
}

.question_box {
    width: 450px;
    height: 100px;
}

.answer_box {
    width: 450px;
    height: 150px;
}

.material_para_markers,
.material_key_markers {
    color: gray;
}

span.field {
    border: 1px solid lightgray;
    background-color: white;
    padding: 1px 4px 1px 4px;
    display: inline-block;
}

span.field:empty:before {
    content: "-";
    color: white;
}

span.key_text {
    font-size: 75%;
    color: gray;
}

span.label {
    font-size: 90%;
    color: #333;
}

.margin_lift {
    margin-top: 3px;
    margin-bottom: 3px;
}

.toggle_hide_active .toggle_hide {
    color: #f0f0f0;
    background-color: #f0f0f0;
}

.toggle_hide_active .toggle_hide * {
    display: none;
}

/* -------------------------------------------------------------------------- */

div#main form#select_sets fieldset {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 5px;
}

form#create_form fieldset label {
    width: 300px;
    text-align: right;
    margin-bottom: 3px;
}

form#create_form fieldset label input[type=text],
form#create_form fieldset label input[type=password] {
    width: 210px;
}

form#create_form fieldset label select {
    width: 216px;
}

ul#cbqz_account_info a {
    text-decoration: none;
    font-family: bold;
    font-weight: normal;
    color: black;
}

ul#cbqz_account_info a:hover {
    text-decoration: underline;
    color: blue;
}

form#edit_user {
    margin-left: 275px;
    margin-top: -65px;
    display: none;
}

form#edit_user fieldset label {
    width: 250px;
    text-align: right;
    margin-bottom: 3px;
}

form#edit_user fieldset#edit_user_password,
form#edit_user fieldset#edit_user_general {
    display: none;
}

form#edit_user fieldset label input[type=text],
form#edit_user fieldset label input[type=password] {
    width: 210px;
}

@media ( max-width: 600px ) {
    form#edit_user {
        margin-left: 0px;
        margin-top: 0px;
    }
}

div#main a#manage_sets_link {
    display: block;
    margin-top: 5px;
    margin-left: 25px;
}

/* -------------------------------------------------------------------------- */

div#material_lookup_display,
div#material_search_display {
    border: 1px solid lightgray;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
}

div#material_lookup_display .htmlarea,
div#material_search_display .htmlarea {
    border-color: transparent;
}

div#material_lookup_display .htmlarea + .htmlarea,
div#material_search_display .htmlarea + .htmlarea {
    border-top-color: lightgray;
}

div#material_lookup_display a.selected,
div#material_search_display a.selected {
    background-color: #ffffe0;
    border-left: 2px solid #66f;
    border-right: 2px solid #66f;
}

div#material_search_display span.match {
    color: black;
    font-family: bold;
}

div#material_lookup_display {
    margin-top: 3px;
}

div#material_lookup_display span.outdent,
div#material_search_display span.outdent {
    display: block;
}

div#material_lookup_display span.outdent {
    text-indent: -10px;
    margin-left: 10px;
}

div#material_search_display span.outdent {
    text-indent: -15px;
    margin-left: 15px;
}

.clickable_reference:hover {
    text-decoration: underline;
    cursor: pointer;
}

div#material_search input#material_search_input {
    width: 230px;
}

/* -------------------------------------------------------------------------- */

div#editor {
    min-width: 470px;
}

div#editor div#question_form {
    display: inline-block;
    vertical-align: top;
}

div#editor div#questions_list {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    overflow: hidden;
}

div#editor div#questions_list select.questions_list_list {
    width: 150px;
}

div#editor div#material_lookup {
    display: inline-block;
    vertical-align: top;
    width: calc( 100vw - 655px );
}

div#editor div#material_lookup_display {
    height: 399px;
}

div#editor div#material_search {
    display: block;
    vertical-align: top;
    margin-top: -18px;
}

div#editor div#material_search_display {
    height: calc( 100vh - 534px );
}

div#editor input#marked_comment {
    width: 405px;
}

@media ( min-width: 1030px ) {
    div#editor div#material_lookup button {
        margin-top: 0px;
    }
}

@media ( max-width: 1030px ) and ( min-width: 980px ) {
    div#editor div#material_lookup button {
        display: block;
    }
}

@media ( max-width: 1030px ) {
    div#editor div#material_lookup_display {
        height: 377px;
    }
}

@media ( max-width: 870px ) {
    div#editor div#material_lookup {
        width: auto;
        margin-top: 3px;
    }

    div#editor div#material_lookup_display {
        height: calc( 50vh - 279px );
    }

    div#editor div#material_search {
        margin-top: 0px;
    }

    div#editor div#material_search_display {
        height: calc( 50vh - 279px );
    }
}

@media ( max-width: 655px ) {
    div#questions_list {
        position: relative;
        display: block !important;
        width: auto !important;
        overflow: visible !important;
        margin-left: 0px !important;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    div#questions_list_prime_list {
        position: absolute;
        top: 0px;
        left: 160px;
    }

    div#questions_list_prime_list select.questions_list_list {
        height: 185px;
    }
}

@media ( max-width: 1030px ) and ( max-height: 640px ) {
    div#editor div#material_search_display {
        height: 110px;
    }
}

@media ( max-width: 870px ) and ( max-height: 779px ) {
    div#editor div#material_lookup_display {
        height: 110px;
    }

    div#editor div#material_search_display {
        height: 110px;
    }
}

@media ( max-width: 655px ) and ( min-height: 976px ) {
    div#editor div#material_lookup_display {
        height: calc( 50vh - 379px );
    }

    div#editor div#material_search_display {
        height: calc( 50vh - 379px );
    }
}

@media ( max-width: 655px ) and ( max-height: 976px ) {
    div#editor div#material_lookup_display {
        height: 110px;
    }

    div#editor div#material_search_display {
        height: 110px;
    }
}

/* -------------------------------------------------------------------------- */

div#quiz_setup fieldset {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 5px;
}

div#quiz_setup textarea {
    font-family: normal;
    font-size: 13px;
    width: 200px;
    height: 128px;
}

div#quiz_setup fieldset#scoring_and_teams_quizzers textarea {
    height: 162px;
}

div#quiz_setup button {
    margin-top: 14px;
}

div#quiz_setup form fieldset label {
    width: 200px;
    text-align: right;
    margin-bottom: 3px;
}

div#quiz_setup form fieldset label input[type=text] {
    width: 120px;
}

div#quiz_setup form fieldset#questions_and_timers input[type=text] {
    width: 80px;
}

div#quiz_setup form fieldset label#room {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-left: 43px;
    text-align: left;
}

div#quiz_setup div#checkboxes {
    display: inline-block;
    vertical-align: top;
}

div#quiz_setup div#checkboxes label {
    text-align: left;
    display: block;
    width: auto;
    margin-top: -1px;
    margin-bottom: -2px;
}

div#quiz_setup button[type=submit] {
    display: block;
    margin-left: auto;
}

/* -------------------------------------------------------------------------- */

div#quizroom {
    min-width: 550px;
}

div#quizroom div#question {
    display: inline-block;
    vertical-align: top;
}

div#quizroom div#manage {
    display: inline-block;
    vertical-align: top;
}

div#quizroom div#material_lookup {
    display: inline-block;
    vertical-align: top;
    width: calc( 100vw - 635px );
}

div#quizroom div#material_lookup_display {
    height: 336px;
}

div#quizroom div#material_search_wrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: -24px;
    width: calc( 100vw - 560px );
}

div#quizroom div#material_search_display {
    height: calc( 100vh - 464px );
}

div#quizroom div#manage {
    margin-left: 5px;
    width: 130px;
}

div#quizroom div#manage div#timer {
    margin-top: 2px;
}

div#quizroom div#manage div#result,
div#quizroom div#manage div#quiz,
div#quizroom div#manage div#replace {
    margin-top: 5px;
}

div#quizroom div#manage button {
    margin: 0px 0px 3px 0px;
    padding: 0px 2px 0px 2px;
}

div#quizroom div#manage div#navigation button {
    width: 30px;
}

div#quizroom div#manage div#navigation button#toggle_view_button {
    width: 50px;
}

div#quizroom div#manage div#timer button {
    width: 35px;
    margin-right: 3px;
}

div#quizroom div#manage div#timer button#prime_timer_button {
    width: 89px;
    overflow: hidden;
    margin-right: -1px;
}

div#quizroom div#manage div#replace button {
    margin-right: 3px;
}

div#quizroom div#timer div#timer_display {
    border: 1px solid lightgray;
    background-color: white;
    margin: 0px 3px 3px 0px;
    padding: 0px 0px 0px 0px;
    width: 87px;
    height: 61px;
    float: left;
    text-align: center;
    overflow: hidden;
    font-size: 400%;
    font-family: medium;
}

/* . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

div#quizroom div#scoresheet {
    width: 525px;
    min-width: 525px;
}

div#scoresheet {
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    background: white;
    border: 1px solid lightgray;
    overflow: auto;
    overflow-x: hidden;
    height: calc( 100vh - 464px );
    margin-top: 4px;
}

div#scoresheet a {
    text-decoration: none;
    color: black;
    margin-right: 2px;
}

div#scoresheet a:hover {
    text-decoration: underline;
    color: #0000cc;
}

div#scoresheet table {
    table-layout: fixed;
    width: calc( 100% + 2px );
    margin: -1px !important;
}

div#scoresheet table td {
    text-align: center;
    padding: 0px 0px 0px 0px;
}

div#scoresheet table tr#quizzer_names > td {
    padding: 0px;
}

div#scoresheet table tr#quizzer_names td:hover:not(.selected) table td {
    background-color: #ffccff;
    cursor: pointer;
}

div#scoresheet table tr td.selected,
div#scoresheet table tr td.selected table td {
    font-family: bold;
    font-weight: normal;
}

div#scoresheet table td.vertical_text {
    vertical-align: top;
}

div#scoresheet table td.vertical_text div {
    width: 70px;
    transform: rotate(90deg) translate( 34px, -2px );
    white-space: nowrap;
    margin-left: calc( 50% - 37px );
}

div#scoresheet table td.quizzer_name {
    vertical-align: top;
    text-align: left;
    height: 82px;
}

div#scoresheet table td.quizzer_name div {
    transform: rotate(90deg) translate( 34px, 0px );
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#scoresheet table td.shaded {
    background-color: #f0f0f0;
}

div#scoresheet table td.team_0_bold {
    background-color: #ffe0e0;
}

div#scoresheet table td.team_0_mild {
    background-color: #ffffff;
}

div#scoresheet table td.team_1_bold {
    background-color: #ffffe0;
}

div#scoresheet table td.team_1_mild {
    background-color: #ffffff;
}

div#scoresheet table td.team_2_bold {
    background-color: #f0f0ff;
}

div#scoresheet table td.team_2_mild {
    background-color: #ffffff;
}

div#scoresheet table td.team_3_bold,
div#scoresheet table td.team_4_bold,
div#scoresheet table td.team_5_bold {
    background-color: #f6f6f6;
}

/* . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

div#quizroom div#rearrange_quizzers {
    width: 310px;
    height: 510px;
}

div#quizroom div#rearrange_quizzers textarea {
    width: 285px;
    height: 330px;
    resize: none;
}

div#quizroom div#rearrange_quizzers fieldset {
    margin-top: 10px;
}

/* . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

@media ( min-width: 1001px ) {
    div#quizroom div#material_lookup button {
        margin-top: 0px;
    }
}

@media ( max-width: 1000px ) and ( min-width: 850px ) {
    div#quizroom div#material_lookup button {
        display: block;
    }

    div#quizroom div#material_lookup_display {
        height: 314px;
    }
}

@media ( max-width: 950px ) {
    div#quizroom div#quiz_view {
        width: calc( 100vw - 40px );
    }

    div#quizroom div#material_search input {
        width: calc( 100vw - 720px );
    }
}

@media ( max-width: 850px ) and ( max-height: 966px ) {
    div#quizroom div#material_search_display {
        height: 91px;
    }
}

@media ( max-width: 850px ) {
    div#quizroom > div {
        display: flex;
        flex-wrap: wrap;
    }
    div#quizroom div#question {
        order: 1;
    }
    div#quizroom div#manage {
        order: 2;
    }
    div#quizroom div#scoresheet {
        order: 3;
        height: 162px !important;
        margin-left: 0px !important;
    }
    div#quizroom div#material_lookup {
        order: 4;
        width: auto !important;
        margin-top: 3px !important;
    }
    div#quizroom div#material_search_wrapper {
        order: 5;
        margin-top: 0px !important;
        width: 100% !important;
    }

    div#quizroom div#material_search input {
        width: 225px;
    }

    div#quizroom div#material_lookup_display {
        height: calc( 50vh - 327px );
    }

    div#quizroom div#material_search_display {
        height: calc( 50vh - 327px );
    }
}

@media ( max-width: 850px ) and ( max-height: 875px ) {
    div#quizroom div#material_lookup_display {
        height: 110px;
    }

    div#quizroom div#material_search_display {
        height: 110px;
    }
}

@media ( max-width: 615px ) {
    div#quizroom div#manage {
        margin-top: 5px;
        margin-left: 0px !important;
        width: auto;
        min-width: 450px;
    }

    div#quizroom div.manage_group {
        width: 130px;
        display: inline-block;
        vertical-align: top;
    }

    div#quizroom div.manage_group div#replace,
    div#quizroom div.manage_group div#result {
        margin-top: -3px !important;
    }

    div#quizroom div.manage_group:first-of-type {
        margin-right: 20px;
    }
    div#quizroom div.manage_group:nth-of-type(2) {
        margin-top: -8px;
    }

    div#quizroom div#material_lookup_display {
        height: calc( 50vh - 392px );
    }

    div#quizroom div#material_search_display {
        height: calc( 50vh - 392px );
    }
}

@media ( max-width: 615px ) and ( max-height: 1005px ) {
    div#quizroom div#material_lookup_display {
        height: 110px;
    }

    div#quizroom div#material_search_display {
        height: 110px;
    }
}

/* -------------------------------------------------------------------------- */

div#live_scoresheet {
    margin-top: -60px;
    margin-bottom: -25px;
}

div#live_scoresheet p#question_number {
    margin-top: -20px;
    margin-bottom: 0px;
}

div#live_scoresheet ul#metadata {
    position: absolute;
    top: 8px;
    right: 10px;
    margin-top: 0px;
}

div#live_scoresheet div#scoresheet {
    position: absolute;
    top: 60px;
    left: 5px;
    width: calc( 100vw - 16px );
    height: calc( 100vh - 75px );
    overflow-y: auto;
    background-color: #f0f0f0;
}

div#live_scoresheet div#scoresheet table td.quizzer_name {
    height: 105px;
}

div#live_scoresheet div#scoresheet table td.quizzer_name div {
    transform: rotate(90deg) translate( 45px, 0px );
    width: 100px;
    margin-left: calc( 50% - 50px );
}

div#live_scoresheet div#scoresheet table tr#quizzer_names td:hover:not(.selected) table td {
    background-color: transparent;
    cursor: default;
}

html.live_scoresheet {
    overflow-y: hidden;
}

html.live_scoresheet h1 a {
    color: inherit;
    text-decoration: none;
}

html.dark_mode {
    background-color: #222222;
    color: white;
}

html.dark_mode div#live_scoresheet div#scoresheet {
    background-color: #333333;
    border-color: #666666;
}

html.dark_mode div#live_scoresheet div#scoresheet table.tabular td {
    color: white;
    border-color: #666666;
}

html.dark_mode div#live_scoresheet div#scoresheet table td.shaded {
    background-color: #333333;
}

html.dark_mode div#live_scoresheet div#scoresheet table td.team_0_bold {
    background-color: #600505;
}

html.dark_mode div#live_scoresheet div#scoresheet table td.team_0_mild {
    background-color: black;
}

html.dark_mode div#live_scoresheet div#scoresheet table td.team_1_bold {
    background-color: #474718;
}

html.dark_mode div#live_scoresheet div#scoresheet table td.team_1_mild {
    background-color: black;
}

html.dark_mode div#live_scoresheet div#scoresheet table td.team_2_bold {
    background-color: #3d3d8a;
}

html.dark_mode div#live_scoresheet div#scoresheet table td.team_2_mild {
    background-color: black;
}

html.dark_mode div#live_scoresheet div#scoresheet table td.team_3_bold,
html.dark_mode div#live_scoresheet div#scoresheet table td.team_4_bold,
html.dark_mode div#live_scoresheet div#scoresheet table td.team_5_bold {
    background-color: #666666;
}

html.dark_mode div#live_scoresheet div#scoresheet table td.selected {
    background-color: #007500 !important;
}

@media ( max-width: 550px ) {
    div#live_scoresheet div#scoresheet {
        font-size: 10px;
    }

    div#live_scoresheet div#scoresheet table td.quizzer_name {
        height: 84px;
    }

    div#live_scoresheet div#scoresheet table td.quizzer_name div {
        transform: rotate(90deg) translate( 35px, 0px );
        width: 78px;
        margin-left: calc( 50% - 38px );
    }
}

@media ( max-width: 640px ) {
    div#live_scoresheet h1 {
        font-size: 15px;
    }

    div#live_scoresheet p#question_number {
        margin-top: -10px;
    }
}

@media ( min-width: 700px ) {
    div#live_scoresheet {
        font-size: 20px;
    }

    div#live_scoresheet p#question_number,
    div#live_scoresheet ul#metadata {
        font-size: 16px;
    }

    div#live_scoresheet div#scoresheet {
        top: 70px;
        height: calc( 100vh - 85px );
    }

    div#live_scoresheet div#scoresheet table td.quizzer_name {
        height: 158px;
    }

    div#live_scoresheet div#scoresheet table td.quizzer_name div {
        transform: rotate(90deg) translate( 66px, 0px );
        width: 145px;
        margin-left: calc( 50% - 72px );
    }
}

@media ( min-width: 980px ) {
    div#live_scoresheet {
        font-size: 30px;
    }

    div#live_scoresheet p#question_number,
    div#live_scoresheet ul#metadata {
        font-size: 20px;
    }

    div#live_scoresheet div#scoresheet {
        top: 85px;
        height: calc( 100vh - 100px );
    }

    div#live_scoresheet div#scoresheet table td.quizzer_name {
        height: 240px;
    }

    div#live_scoresheet div#scoresheet table td.quizzer_name div {
        transform: rotate(90deg) translate( 100px, 0px );
        width: 220px;
        margin-left: calc( 50% - 110px );
    }
}

/* -------------------------------------------------------------------------- */

form.admin_form fieldset {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 5px;
}

form.admin_form textarea {
    font-family: normal;
    font-size: 13px;
    width: 200px;
    height: 137px;
}

form.admin_form fieldset label {
    width: 250px;
    text-align: right;
    margin-bottom: 3px;
}

form.admin_form fieldset label input[type=text] {
    width: 130px;
}

form.admin_form fieldset#questions_and_timers input[type=text] {
    width: 80px;
}

form.admin_form input[type=submit] {
    display: block;
    margin-left: auto;
}

form.admin_form fieldset#result_operation textarea {
    width: 476px;
}

/* -------------------------------------------------------------------------- */

div#material div#material_search,
div#material div#material_lookup {
    display: inline-block;
    vertical-align: top;
    width: calc( 50vw - 15px );
}

div#material div#material_lookup {
    float: right;
}

div#material div#material_search_display,
div#material div#material_lookup_display {
    height: calc( 100vh - 125px );
}

div#material div#material_search div.margin_lift {
    margin-top: 0px;
}

@media ( max-width: 840px ) {
    div#material div#material_search,
    div#material div#material_lookup {
        display: block;
        width: auto;
    }

    div#material div#material_search_display,
    div#material div#material_lookup_display {
        height: calc( 50vh - 77px );
    }
}

@media ( max-width: 400px ) {
    div#material div#material_search > div > input {
        display: block;
    }

    div#material div#material_lookup button {
        display: block;
    }

    div#material div#material_lookup {
        margin-top: 3px;
    }

    div#material div#material_search_display,
    div#material div#material_lookup_display {
        height: calc( 50vh - 100px );
    }
}

/* -------------------------------------------------------------------------- */

div#meet_status div#meet_status_quiz_wrapper {
    text-align: center;
}

div#meet_status div#meet_status_quiz_wrapper div {
    text-align: left;
    border: 1px solid silver;
    background-color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

div#meet_status div#meet_status_quiz_wrapper div h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

div#meet_status div#meet_status_quiz_wrapper div.pending {
    background-color: #ffffe0;
}

div#meet_status div#meet_status_quiz_wrapper div.active {
    background-color: white;
}

div#meet_status div#meet_status_quiz_wrapper div.closed {
    background-color: lightgrey;
}

div#meet_status div#meet_status_quiz_wrapper div ul {
    padding-left: 20px;
    margin: 0px;
}

div#meet_status div#meet_status_quiz_wrapper div p {
    margin-bottom: 0px;
}

/* -------------------------------------------------------------------------- */

div.page_panel {
    position: absolute;
    margin: 0 auto 0 auto;
    top: 10px;
    left: 0px;
    right: 0px;
    width: calc( 100vw - 350px );
    max-height: calc( 100vh - 25px );
    overflow: auto;
    overflow-x: hidden;
    padding: 5px 10px 0px 10px;
    background-color: ghostwhite;
    border: 1px solid gray;
    z-index: 30;
}

div.page_panel_full {
    width: calc( 100vw - 40px );
}

div.page_panel h2 {
    margin: 0px 0px 5px 0px;
    padding: 0;
}

div.page_panel div.page_panel_buttons {
    float: right;
}

div.page_panel table {
    margin-bottom: 10px;
    width: 100%;
}

div.page_panel table td.below_min {
    background-color: #ffffcc;
}

div.page_panel table td.in_range {
    background-color: #ccffcc;
}

div.page_panel table td.above_max {
    background-color: #ffccf0;
}

/* -------------------------------------------------------------------------- */

div#printed_questions hr {
    border-top: 1px dashed lightgray;
    border-bottom: none;
    margin: 15px 0px 15px 0px;
}

/* -------------------------------------------------------------------------- */

textarea#result_operation {
    font-family: monospace !important;
    font-size: 12px !important;
    width: 800px !important;
    height: 600px !important;
}

/* -------------------------------------------------------------------------- */

@media print {
    html {
        background-color: white;
    }

    body {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    div#header {
        position: static;
        background-color: white;
        padding: 0px;
        margin-bottom: 20px;
        border-bottom-color: lightgray;
    }

    .no_print,
    div#header_login,
    div#footer {
        display: none;
    }

    span.field {
        border: none;
        padding: 0px 10px 0px 0px;
        font-family: bold;
    }

    div.htmlarea {
        padding: 0px 0px 0px 20px;
        border: none;
    }

    .unique_word {
        font-family: medium;
        color: black;
        text-decoration: underline;
    }

    .unique_phrase {
        font-family: normal;
        color: black;
    }

    .unique_chapter {
        font-family: medium;
        color: black;
    }
}
